<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a [routerLink]="['/pages/products']" class="navbar-brand"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/pages/products']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/pages/products']" class="nav-link">Productos</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li *ngIf="!_authServ.isAuthenticated()">
          <a [routerLink]="['/login']" class="btn btn-outline-primary">Sing In</a>
        </li>
  
        <li class="dropdown" *ngIf="_authServ.isAuthenticated()">
          <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{userLogin.username}}
          </a>
  
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <button (click)="logout()" class="dropdown-item" type="submit">Sing Out</button>
          </div>
        </li>
      </ul>
    </div>
  </nav>