<div *ngIf="_modalProdServ.modalShow" class="open-modal animation fadeIn">
    <div class="modal" tabindex="-1" role="dialog" style="display: block">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> {{ tittleDetail }}{{nameProdDetail}} </h5>
                    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert"
                        *ngIf="product?.length == 0">
                        <strong>No hay registros... !!!</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    
                    <table class="table table-bordered table-striped" *ngIf="productDetail?.length>0">
                        <thead>
                            <tr>
                                <td>#</td>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prodDT of productDetail; index as i">
                                <td> {{i + 1}} </td>
                                <td>
                                    <img *ngIf="prodDT?.image" src="{{prodDT.image}}" class="img-thumbnail rounded "
                                        alt="{{prodDT.image}}" style="width: 64px">

                                    <img *ngIf="!prodDT?.image" src="{{urlNotImage}}" class="img-thumbnail rounded "
                                        alt="Sin Imagen" style="width: 64px">
                                </td>
                                <td>{{ prodDT.name }}</td>
                                <td>{{ prodDT.description }}</td>
                                <td>{{ prodDT.price }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>