<app-product-detail *ngIf="productSelected" [product]="productSelected"></app-product-detail>
<div class="card border-primary mb-3">
    <div class="card-header">Productos</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Listado de Productos</h5>

        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button"
                role="button" [routerLink]="['/pages/products/save']">
                Nuevo Producto
            </button>
        </div>

        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="products?.length == 0">
            <strong>No hay registros... !!!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <table class="table table-bordered table-striped" *ngIf="products?.length>0">
            <thead>
                <tr>
                    <td>#</td>
                    <th>Nombre Producto</th>
                    <th> Acciones </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prod of products; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ prod.name }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" name="editar"
                                class="btn btn-success btn-sm">
                                Editar
                            </button>
                            <button type="button" name="detalle" (click)="openModal(prod)"
                                class="btn btn-primary btn-sm">
                                Ver Detalle
                            </button>
                            <button type="button" name="eliminar"
                                class="btn btn-danger btn-sm">
                                Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>