<div class="card border-primary text-center">
    <div class="card-header">{{ tittleLogin }}</div>
    <div class="card-body text-center">
        <form (ngSubmit)="login()">
            <div class="form-group col-sm-6">
                <input [(ngModel)]="user.username" type="text" class="form-control" name="username" id="username"
                    placeholder="Nombre Usuario" autofocus required>
            </div>

            <div class="form-group col-sm-6">
                <input [(ngModel)]="user.password" type="password" class="form-control" name="password" id="password"
                    placeholder="Contraseña" required>
            </div>

            <div class="form-group col-sm-6">
                <button role="button" type="submit" class="btn btn-lg btn-primary btn-block"> login
                </button>
            </div>
        </form>
    </div>
</div>